body {
  background-color: #1b2026 !important;
}
.content {
  position: relative;
  color: #b2b2b2;
  padding-top: 10px;
}
.content .form-group .col-xs-3,
.content .form-group .col-xs-4 {
  line-height: 40px;
  text-align: center;
}
.content .form-group .col-xs-9,
.content .form-group .col-xs-8 {
  position: relative;
}
.content .form-group .col-xs-9 input[type="text"],
.content .form-group .col-xs-8 input[type="text"],
.content .form-group .col-xs-9 input[type="date"],
.content .form-group .col-xs-8 input[type="date"],
.content .form-group .col-xs-9 input[type="number"],
.content .form-group .col-xs-8 input[type="number"],
.content .form-group .col-xs-9 input[type="file"],
.content .form-group .col-xs-8 input[type="file"] {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 5px;
  display: inline-block;
  width: 100%;
  background-color: transparent;
  border: 1px solid #46474c;
  height: 40px;
  text-align: left;
  color: #337ab7;
  font-size: 16px;
  line-height: 18px;
  border-radius: 0;
}
.content .form-group .col-xs-9 input[type="radio"],
.content .form-group .col-xs-8 input[type="radio"] {
  vertical-align: sub;
  margin-right: 5px;
}
.content .form-group .col-xs-9 input[type="file"],
.content .form-group .col-xs-8 input[type="file"] {
  z-index: 999;
  opacity: 0;
}
.content .form-group .col-xs-9 #address,
.content .form-group .col-xs-8 #address,
.content .form-group .col-xs-9 select,
.content .form-group .col-xs-8 select {
  background: url("../img/icon/right.png") no-repeat 100% 50%;
  background-size: 18px 18px;
}
.content .form-group .col-xs-9 .uploadimg-bg,
.content .form-group .col-xs-8 .uploadimg-bg {
  position: absolute;
  left: 15px;
  top: 0;
  line-height: 40px;
  text-indent: 1em;
  display: inline-block;
}
.content .form-group .col-xs-9 .uploadimg-bg img,
.content .form-group .col-xs-8 .uploadimg-bg img {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}
.content .form-group .col-xs-9 .uploadImg,
.content .form-group .col-xs-8 .uploadImg {
  background-color: transparent;
  position: relative;
  height: 40px;
  line-height: 0;
  border: 1px solid #46474c;
  width: 100%;
  margin-top: -40px;
  z-index: -1;
  background: url("../img/icon/right.png") no-repeat 100% 50%;
  background-size: 18px 18px;
  text-align: center;
  font-size: 0;
}
.content .form-group .col-xs-9 .uploadImg img,
.content .form-group .col-xs-8 .uploadImg img {
  width: 80px;
  height: 38px;
}
.content .form-group .col-xs-9 select,
.content .form-group .col-xs-8 select {
  display: inline-block;
  width: 100%;
  border: 1px solid #46474c;
  height: 40px;
  color: #337ab7;
  font-size: 16px;
  line-height: 40px;
  background-color: transparent;
  text-align-last: center;
}
.content .form-group .btn-danger {
  background-color: #be0601;
}
.content .captain {
  background-color: #121518;
}
.content .captain .captain-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: auto;
}
.content .captain .search {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 35px;
}
.content .captain .search input[type="tel"] {
  border: 1px solid #46474c;
  color: #337ab7;
  display: inline-block;
  height: 35px;
  padding-left: 0px;
  line-height: 35px;
  background-color: transparent;
}
.content .captain .search .col-xs-3 {
  line-height: 35px;
  height: 35px;
}
.content .captain .search .col-xs-3 input[type="button"] {
  height: 100%;
  background: url("../img/icon/ss.png") no-repeat;
  background-size: cover;
  border: none;
  width: 50px;
  border-radius: 5px;
}
.content .captain .title {
  display: inline-block;
  width: 100%;
  padding: 5px 15px;
  border-bottom: 1px solid #46474c;
}
.content .captain .title img {
  width: 16px;
  height: auto;
}
.content .captain .player-item {
  margin: 0;
  height: 90px;
  position: relative;
  border-radius: 8px;
}
.content .captain .player-item .col-xs-3 {
  position: relative;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.content .captain .player-item .col-xs-3 .head-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #162f9a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content .captain .player-item .col-xs-9 {
  height: 100%;
}
.content .captain .player-item .col-xs-9 .player-info {
  padding-top: 15px;
}
.content .captain .player-item .col-xs-9 .player-info span {
  display: inline-block;
  width: 50%;
  float: left;
  line-height: 30px;
}
.content .captain .player-item .col-xs-9 .delete {
  width: 70px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #337ab7 ;
  border: 1px solid #389bf0;
  color: #fff;
}
