.swiper-container img{
	height: 20vh;
	width: 100%;
}
.content{
	background-color: #1b2026;
	padding-top: 10px;
	
	a{
		display: block;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		height: 110px;
		background-color: #eee;
		color: #fff;
		border-radius: 7px;
		margin-top: 20px;
		font-size: 2.5rem;
		line-height: 110px;
		img{
			width: 60px;
			height: 60px;
		}
	}
}